.driver {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.driver > p {
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 1.2em;
  line-height: 2.0em;
}

.driverbottom > p {
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 1.2em;
  line-height: 2.0em;
}

.driveu {
  width: 300px;
  height: auto;
}

.signupbox-driver {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffb8be, #fff5f6);
  width: 100vw;
  height: 30vh;
  right: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}