.driver {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.driver > p {
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 1.2em;
}

.driverbottom > p {
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 1.2em;
}

.driveu {
  width: 300px;
  height: auto;
}

