.editProfile {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .editProfile h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .editProfile form {
    display: flex;
    flex-direction: column;
  }
  
  .editProfile label {
    margin-bottom: 5px;
  }
  
  .editProfile input,
  .editProfile select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* .editProfile button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  /* .editProfile button:hover {
    background-color: #45a049;
  } */