.rider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rider > p {
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
}
  
.riderbottom > p {
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
}

.driveu {
    width: 300px;
    height: auto;
}

.signupbox {
    background-color: rgb(255, 222, 89);
    width: 100%;
}
