.signupPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 50vw;
  width: 100%;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

.school-input {
  margin-bottom: 0;
}

input:focus, select:focus {
  border-color: #4facfe;
  outline: none;
  box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}

button {
  background-color: #4facfe;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3a8edb;
}

.dropdown-container {
  position: relative;
  width: 100%;
}

.dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f4f4f9;
}

.image-preview {
  margin-top: 10px;
  text-align: center;
}

.image-preview img {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.section {
  margin-bottom: 20px;
  width: 70%;
}

.section-heading {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.section label {
  display: inline-block;
  margin-right: 15px;
  font-weight: normal;
  color: #555;
}

input[type="radio"] {
  margin-right: 5px;
}